.profile img{
    width: 50px;
    height: 50px;
}
.bg-clr{
    background-color: whitesmoke;
}
.info{
   
    border-radius: 5px;
}
.hov{
    background-color: white;
}
.hov:hover {
    background-color:blue;
    color: white;
  }